# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Project specific
frontend-app/cv-pdf-generator/dist/
frontend-app/cv-pdf-generator/node_modules/
frontend-app/frontend-app/node_modules

# IDEs
.idea/
.vscode/
*.iml
*.swp
